*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* inizio header */
header{
  width: 100%;
  height: 70px;
  background: #F5F8FA;
  border-bottom: 2px solid #cbd6e2;
}
.container{
  width: 70%;
  margin: 0 auto;
  max-width: 1000px;
}
.container div{
  float: left;
}
.english{
  font-size: 15px;
  width: 20%;
  margin-left: 20px;
}
.english:after{
  line-height: 70px;
  margin-left: 35px;
  font-size: 20px;
  color: lightgrey;
  float: left;
  content: '|'
}
.english i, .english p{
  float: left;
  margin-left: 15px;
  line-height: 70px;
}
.fa-caret-down{
  color: #7c98b6;
}
.phone{
  width: 45%;
}
.phone i, .phone p{
  float: left;
  margin-left: 20px;
  line-height: 70px;
}
.phone p{
  font-size: 14px;
}
.log{
  width: 32%;
}
.log p{
  line-height: 34px;
  text-align: center;
}
.log .white, .log .orange{
  border-radius: 4px;
  margin-top: 18px;
  font-size: 13px;
  line-height: 70px;
  margin-left: 20px;
}
.log .white{
  width: 60px;
  height: 34px;
  background: white;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  line-height: 70px;
}
.log .orange{
  width: 150px;
  height: 34px;
  background: #ff7a59;
  color: white;
}
.log .orange:hover{
  background: rgba(255, 122, 89, 0.85);
  cursor: pointer;
}
.fa-search{
  float:left;
  color: #46bdcf;
  line-height: 70px;
}
/* /header */
/* Inio nav */
nav{
  height:80px;
  clear: both
}
img.logo{
  height: 46px;
  float:left;
  margin: 17px 0px
}
.item{
  float: right;
  list-style: none;
}
.item li{
  float: left;
  line-height: 80px;
  margin-right: 20px;
}
.item li i{
  margin-left:10px;
}
/* /Nav */
.striscia{
  width: 100%;
  height: 100px;
  background: #2D3E50;
}
.frase{
  width:80%;
  float: left;
}
.frase p{
  color: white;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  margin-top: 30px;
}
.striscia .bianco{
  background: white;
  border-radius: 5px;
}
.bianco{
  margin-top: 30px;
}
.bianco p{
  font-size: 13px;
  color: #33475b;
  line-height: 40px;
  padding: 0px 30px;
  margin-top:
}
.principale{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to right, #09A7BF, rgba(18, 182, 207, 0.55));
  color: white;
  padding-top: 10px;
  border-bottom: 4px solid #33475b;
}
.contenitore{
  margin-left: 10px;
  width: 500px;
}
h1{
  font-size: 45px;
  font-weight: 800;
  margin: 50px 20px;
}
.principale p{
  text-align: left;
}
.principale .button{
  background: white;
  color: #33475b;
  margin: 50px 0px;
  border-radius: 4px;
  width: 200px;
}
.button > p{
  padding: 16px 10px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.principale .mini-paragraph{
  font-size: 9px;
  width: 150px;
}
.cubo{
  width: 100%;
  height: 1500px;
  background: #F5F8FA;
  color: #33475b;
}
.cubo > img{
  height: 200px;
  margin-top: 5%;
  margin-left: 40%;
}
.cubo > h1{
  text-align: center;
  margin-bottom: 20px;
}
.cubo > p{
  text-align: center;
  margin: auto;
  line-height: 1.6;
  width: 800px;
}
.info_top{
  width: 70%;
  height: 300px;
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 11px #eaf0f6;
}
.it_cont{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
.it_cont > div{
  float: left;
}
.it_left{
  width: 43%;
}
.info_top img{
  width: 200px;
  margin-left: 100px;
  margin-top: 30px;
}
.info_top > p{
  width: 200px;
  margin-left: 100px;
  margin-top: 30px;
}
.itl_btn{
  background: #ff7a59;
  width:150px;
  border-radius: 3px;
  margin-left: 120px;
  margin-top: 20px;
  text-align: center;
}
.itl_btn p{
  padding: 10px;
}
h1{
  margin: 50px 0px;
}
